@import "tailwindcss";


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.font-rubik {
  font-family: 'Rubik Dirt', sans-serif;
}

.productos-section {
  background-image: url('/assets/images/fondo-catalogo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2rem; /* equivalente a pt-8 */
}

